.offer {
  padding: 200px 0;
  background-color: var(--color-primary);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
  }
  &__title {
    color: var(--color-white);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
