<section class="ad-units">
  <div class="container">
    <div class="ad-units__items">
      <div
        *ngFor="let adUnit of adUnits"
        class="ad-unit"
        [ngStyle]="{
          background: 'url(' + adUnit.backgroundUrl + ') no-repeat 0 0 / cover'
        }"
      >
        <p
          class="ad-unit__subtitle"
          [ngStyle]="{ color: 'var(--color-' + adUnit.subtitleColor + ')' }"
        >
          {{ adUnit.subtitle }}
        </p>
        <h3
          class="ad-unit__title"
          [ngStyle]="{ color: 'var(--color-' + adUnit.titleColor + ')' }"
        >
          {{ adUnit.title }}
        </h3>
      </div>
    </div>
  </div>
</section>
