@import "src/app/shared/styles/mixins";

.header {
  padding: 75px 0;
  &__inner {
    @include flex-v-center;
  }

  &__right {
    display: flex;
    margin-left: auto;
  }

  &__logo {
    margin-right: 150px;
  }
}

.nav {
  margin-right: 130px;
  &__list {
    @include flex-v-center;
    gap: 30px;
  }

  &__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
    }
  }
}
